# Ignore Python virtual environment
env/
venv/

# Ignore node_modules (for React)
node_modules/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore database files
*.sqlite3

# Ignore OS-specific files
.DS_Store
Thumbs.db
